@keyframes gradient {
  to {
    background-position: var(--bg-size) 0;
  }
}

.tox-tinymce {
  .tox-promotion,
  .tox-statusbar__branding,
  .tox-statusbar__help-text {
    display: none;
  }
  .tox-statusbar__text-container {
    justify-content: space-between !important;
  }
}
